@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
					
			box-sizing: border-box;
		}

            main{                
                background-image: url(../images/Bg.png);
            }
        
            
/* nav bar start */
            .navbar-nav{
                color: #FFF;
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 200;
            }
            .logo{
                width: 15%;
            }
            .side-logo{
                width:20%;
            }
            .caption{
                display: block;
                color: #F7FAFF;
                font-size: 15px;
                font-family: quantico;
                font-style: normal;
            }
            
            .get{
                background-color: #BD3193;
                font-family: poppins;
                font-size: 13px;
                font-style: normal;
            }
            .arrow{
                width: 15px;
                height: 15px;
                flex-shrink: 0;
            }
/* nav bar ends */
           .star{
                width: 20px;
                height: 24px;
            }
            
            .green{
                width: 180px;
                height: 120px;
            }
            .flex-container {
              /*border: 1px solid black;*/
              display: flex;
              flex-wrap: wrap;
              font-size: 30px;
              height: 600px;
              text-align: center;
            }

            .flex-item-left {
              /*border: 1px solid red;*/
              padding: 10px;
              flex: 50%;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              
            }
            .parent{
                /*border: 1px solid yellow;*/
                display: inline-flex;
              flex-direction: column;
               align-items: flex-start;
              gap: 32px; 
              width: 90%;

            }

            


    .welcometoskyboard{
        /*border: 1px solid blue;*/
        height: 27px;
        width: 100%;
    }
    .welcometext{
        color: #9FCB3A;
        text-align: left;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;

    }
    .anewera{
        /*border: 1px solid pink;*/
        display: flex;
        width: 100%;
        flex-direction: column;
        
    }
    .aneweratext{
        color: #FFF;
        font-family: Quantico;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left; 
    }
    .gaming{
        background: linear-gradient(95deg, #BD3193 51.17%, #9FCB3A 66.14%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Quantico;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }
    .unique{
        /*border: 1px solid yellow;*/
        width: 100%;
        height: 80px;
    }
    .uniquetext{
        color: rgba(255, 255, 255, 0.70);
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
        text-align: left;
    }
     .get{
        float: right;
        color: #FFF;
        background-color: #BD3193;      
        text-decoration: none;
        display: flex;
        width: 135px;
        height: 40px;
        padding: 15px 18px 15px 20px;
        justify-content: center;
        align-items: center;
    }
    .flex-item-right {
          /*border: 1px solid red;*/
          padding: 10px;
          flex: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
   }

    .parent2{
         /*border: 1px solid yellow;*/
         display: inline-flex;      
          height: 500px;
          width: 100%;
    }
    .green{
        position: relative;
          top: 0;
          left: 0;
    }


    .imagebg{
        height: 80%;
        width: 70%;
        position: relative;
          top: 50px;
          right: 90px;
       }

       .icw{
        float: left; 
        display: flex;
        justify-content: space-around;
    }
    .icwtext{
        /*border: 1px solid pink;*/
        color: #FFF;
        font-family: Quantico;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        padding: 0 30px;
    }
    .compete{
        color: #9FCB3A;
    }



            @media all  and (max-width: 991px){
                .navbar-brand{
                    width: 25%;
                }
                .logo{
                    width: 40%;
                }
            .sidebar{
                background-color: rgb(19, 8, 40);
                backdrop-filter: blur(10px);
            }
            .flex-item-right, .flex-item-left {
                flex: 100%;
          }
          .flex-item-right {
            display:none;
          }

              .parent2{
            display: none;
              }
          }



           @media all  and (max-width: 600px){
            
            .green {
                width: 20px;
                height: 30px;
            }

            .imagebg {
                height: 70%;
                width: 80%;
                position: static;
            }
            .aneweratext{
                font-size: 30px;
            }
            .gaming{
                font-size: 30px;
            }
           }

            
    