@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
					
			box-sizing: border-box;
		}
        *body {  overflow-y:visible; /* Hide horizontal scrollbar*/}*/
		 	.col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.6%}
            .col-12 {width: 100%;}


             @media only screen and (max-width:991px){
            .col-md-1 {width: 8.33%;}
            .col-md-2 {width: 16.66%;}
            .col-md-3 {width: 25%;}
            .col-md-4 {width: 33.33%;}
            .col-md-5 {width: 41.66%;}
            .col-md-6 {width: 50%;}
            .col-md-7 {width: 58.33%;}
            .col-md-8 {width: 66.66%;}
            .col-md-9 {width: 75%;}
            .col-md-10 {width: 83.33%;}
            .col-md-11 {width: 91.6%}
            .col-md-12 {width: 100%;}        
        }

            body{                
                background-image: url(../images/Bg.png);
        
            }

          /*  @media only screen and (max-width: 991px){
            .sidebar{
                    background-color: rgb(19, 8, 40);
                    backdrop-filter: blur(10px);
            }
            .flex-item-right, .flex-item-left {
            flex: 100%;
          }
              }*/
        
            

            .navbar-nav{
                color: #FFF;
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 200;
            }
            .logo{
                width: 90.826px;
                height: 72px; 
            }
            .caption{
                display: block;
                color: #F7FAFF;
                font-size: 15px;
                font-family: quantico;
                font-style: normal;
            }
            .get{
                background-color: #BD3193;
                font-family: poppins;
                font-size: 13px;
                font-style: normal;
            }
            .arrow{
                width: 15px;
                height: 15px;
                flex-shrink: 0;
            }
           .star{
                width: 20px;
                height: 24px;
            }
            
            .green{
                width: 180px;
                height: 120px;
            }
            .flex-container {
              /*border: 1px solid black;*/
              display: flex;
              flex-wrap: wrap;
              font-size: 30px;
              height: 600px;
              text-align: center;
            }

            .flex-item-left {
              /*border: 1px solid red;*/
              padding: 10px;
              flex: 50%;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              
            }
            .parent{
                /*border: 1px solid yellow;*/
                display: inline-flex;
              flex-direction: column;
               align-items: flex-start;
              gap: 32px; 
              height: 500px;
              width: 90%;

            }

            


    .welcometoskyboard{
        /*border: 1px solid blue;*/
        height: 27px;
        width: 100%;
    }
    .welcometext{
        color: #9FCB3A;
        text-align: left;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;

    }
    .anewera{
        /*border: 1px solid pink;*/
        display: flex;
        width: 100%;
        height: 110px;
        flex-direction: column;
        
    }
    .aneweratext{
        color: #FFF;
        font-family: Quantico;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left; 
    }
    .gaming{
        background: linear-gradient(95deg, #BD3193 51.17%, #9FCB3A 66.14%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Quantico;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }
    .unique{
        /*border: 1px solid yellow;*/
        width: 100%;
        height: 80px;
    }
    .uniquetext{
        color: rgba(255, 255, 255, 0.70);
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
        text-align: left;
    }
     .get{
        float: right;
        color: #FFF;
        background-color: #BD3193;      
        text-decoration: none;
        display: flex;
        width: 135px;
        height: 40px;
        padding: 15px 18px 15px 20px;
        justify-content: center;
        align-items: center;
    }
    .flex-item-right {
          /*border: 1px solid red;*/
          padding: 10px;
          flex: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
   }

    .parent2{
         /*border: 1px solid yellow;*/
         display: inline-flex;      
          height: 500px;
          width: 100%;
    }
    .green{
        position: relative;
          top: 0;
          left: 0;
    }


    .imagebg{
        height: 80%;
        width: 70%;
        position: relative;
          top: 50px;
          right: 90px;
       }

       .icw{
        /*border: 1px solid blue;*/
        height: 32px;
        float: left; 
        display: flex;
        position: absolute;
        bottom: -150px;
        justify-content: space-around;
    }
    .icwtext{
        /*border: 1px solid pink;*/
        color: #FFF;
        font-family: Quantico;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }
    .compete{
        color: #9FCB3A;
    }



            @media all  and (max-width: 991px){
            .sidebar{
                background-color: rgb(19, 8, 40);
                backdrop-filter: blur(10px);
            }
            .flex-container{
                height: 800px;
            }
            .flex-item-right, .flex-item-left {
                height: 400px ;
                flex: 100%;
          }

          .parent{
            height: 400px;
              }
              .parent2{
            height: 400px;
              }
              .imagebg{
                width: 60%;
                height: 90%;
              }

               .icw{
                position: absolute;
                bottom: -180px;

               }
          }



           @media all  and (max-width: 600px){
             .aneweratext{
                font-size: 30px;
            }
            .gaming{
                font-size: 30px;
            }
           }

            
    